html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
background-color: #99BC85; 
padding: 2 px;
}
header nav ul {
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding: 5px;
    margin: 15px;
}
header nav ul li {
    margin: 10px;
    padding: 5px;
    border: 1px ;
    border-color: black;
}
header nav ul li {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover {
    color:#E4EFE7;
}
@media (max-width : 768px)
{
    header nav ul {
        gap: 0.5px;
    }
}
@media (max-width: 576px)
{
    header ul {
        flex-direction: column;
        text-align: center;
    }
    header nav ul li {
        margin : 0.5px;
    }
}


footer
{
background-image: none; /* חייב להוסיף*/
background-size: cover;
background-position: center;
color:#FAF1E6;
padding: 2px;
text-align: center;
}

footer nav ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2px;
    margin-bottom: 1px;
}

footer nav ul li
{
    margin: auto;
}

footer nav ul li a
{
    color:#E4EFE7
}

@media (max-width: 576px) {
    footer nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    footer nav ul li {
        margin: 0;
    }
}