html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-title
{
    position: absolute;
    text-align: center;
    padding: 0;
    background-color: transparent;
    width:100%;
    z-index: 2;
}

.site-title img
{
    position: relative;
    width: auto;
    height: 240px;
    max-width: 70%;
    display: block;
    margin: 0 auto;
    
}

.Background-title
{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Background-title img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

header {
background-color: #99BC85; 
padding: 15px;
width: 100%;
box-sizing: border-box;
}

header nav
{
    max-width: 100%;
    margin:auto;
    width: 100%;
}

header nav ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}

header nav ul li {
   margin: 0 5px;
   padding: 1px;
  flex: 1;
  color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

header nav ul li a
{
    color: #E4EFE7;
    text-decoration: none;
    font-weight: bold;
    display: flex;;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid black;
    text-align: center;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    
}
header nav ul li a:hover {
   transform: translateY(10px);
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width : 768px)
{
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5px;
    }

    header nav ul li 
    {
        width: 100%;
        margin: 15px;
    }

    header nav ul li a 
    {
        width: 100%;
    }
}
@media (max-width: 576px)
{
    header ul {
        flex-direction: column;
        text-align: center;
    }
    header nav ul li {
        margin : 0.5px;
    }
}


.hero-section
{
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FAF1E6;
}

.hero-section section
{
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.flex-container
{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100%;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    margin:auto;
    z-index: 2;
    
}

.flex-container img
{
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

.flex-container div
{
    flex: 1;
    min-width: 280px;
    height: auto;
    padding: 16px;
    object-fit: cover;
    margin: 16px;
    background-color: rgb(153, 188, 133,0.8);
}

.flex-container h2
{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.flex-container p
{
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin-bottom: 0;
}

#about-me .flex-container
{
    background-image: url('images/background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
}

#living .flex-container
{
    background-image: url('images/background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
}

#interesting_facts .flex-container
{
    background-image: url('images/background3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
}

.facts-list
{
    padding-right: 20px;
    margin-top: 10px;
    text-align: right;
}

.facts-list li
{
    margin-bottom: 8px;
    line-height: 1.5;
    position: relative;
}


@media (max-width: 768px) 
{
    .flex-container
    { 
        flex-direction: column;
    }

    .flex-container img, .flex-container div
    {
        width: 80%;
        max-width: 400px;
        margin: 15px;
    }

    h2
    {
        font-size: 28px;
        text-align: center;
    }

    p 
    {
        font-size: 16px;
        line-height: 1.5;
    }

    .facts-list {
        padding-right: 15px;
    }
}


.cards-section
{
    padding:2px;
    background-color: #FAF1E6;
    margin-bottom: 2px;
}

.cards-section h2
{
    text-align: center;
    margin-bottom: 15px;
}

.cards-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    max-width: 1400px;
    margin: auto;
}

.card
{
    width: 320px;
    height: 200px;
    border-radius: 8px;
    border:1px solid black;
    overflow: hidden;
    position: relative;
}

.card img
{
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border: 1px solid black;
}

.card p
{
    margin: 2px;
    padding: 0.5px;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .cards-container {
        max-width: 1050px;
    }
}

@media (max-width: 1050px) {
    .cards-container {
        max-width: 700px;
    }
}

@media (max-width: 700px) {
    .cards-container {
        max-width: 350px;
    }
}


footer
{
background-image: url(images/Footer_background.jpg);
background-size: cover;
background-position: center;
color:#FAF1E6;
padding: 2px;
text-align: center;
opacity: 90%;
}

footer nav ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2px;
    margin-bottom: 1px;
}

footer nav ul li
{
    margin: auto;
}

footer nav ul li a
{
    color:#E4EFE7
}

@media (max-width: 576px) {
    footer nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    footer nav ul li {
        margin: 0;
    }
}
